.App-help{
  
  background-color:brown;
  // min-height: 1vh;
 display: flex;
  flex-direction: column;
  // align-items: center;
  font-size: 12px;
  justify-content: center;
  color:white;
  font-family: cursive;
  height:5vh;
  width: 100%;
 float: right;
  padding-top: 25px;
  // margin-left: 10px;


}

h1:hover {
  background: #ccc;
}