.App-footer{
background-color:#8a8f97;
  min-height: 5vh;
 display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  color: green;
  font-family: cursive;

  
}